.idea
.gitignore
scar_highlight.xml

meshing/meshes
meshing/__pycache__
meshing/reInsertFibres.sh-original

simulation

ecg-analysis/__pycache__
ecg-analysis/12LeadElectrodes.dat
ecg-analysis/analysis_commands.txt
ecg-analysis/figures
ecg-analysis/*pkl
ecg-analysis/gmon.out

paper
