[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
py-ecg-detectors = "*"
sklearn = "*"

[dev-packages]
ipython = "*"
pyqt5 = "*"

[requires]
python_version = "3.8"
